#header{

  margin: auto;
  text-align: center;

}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav{
  display: block;
  float:left;
}
li a{
  display: block;
  width: 60px;
}
li a:hover{
  background-color: #555;
  color: white;
}
body {
    background-image: url("img/background.png");
    color: white;
}
#dropdown{
  display: inline-block;
  width: 30%;
}

aside{
  float:left;
  width: 200;
  border: 10 none blue;
  background: black;
  height: 100%;



}
#main{
  float: right;

}
#main .wasleft{
  float: left;
  padding: 50px;
  


  
}
#main .wasright{
  float: right;
  height: 200px;
  width: 300px;
  border: none;
  
}
#main .isleft{
  float: left;
  padding: 50px;



  
}
#main .isright{
  float: right;
  height: 200px;
  width: 300px;
  
}